<div class="col-3">
	<div class="hero-unit"></div>
</div>
<div class="col-9 homepage">
	<h1>virtu i/o</h1>
	<h2>no fuss online payments.</h2>
	<ul>
		<li><%= link_to 'List of Clients', users_path %></li>
	</ul>
</div>


